body {
    /*background-color: #E8EAF6;*/
    font-family: "微软雅黑", Roboto, Noto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}


/*代码框上面的横条*/

.md-code-bar {
    /*border-radius: 0.5em;*/
    /*background-color: black;*/
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.57);*/
    position: relative;
    height: 25px;
}


/*折叠代码的按钮*/

.md-code-fold {
    cursor: pointer;
    right: 6px;
    line-height: 0;
    top: 12px;
    border-radius: 100%;
    border: 0;
    position: absolute;
    background-color: transparent;
    /*background-color: darkslategray;*/
    font-weight: bolder;
    /*color: #bababa;*/
    color: darkgray;
    font-size: xx-large;
    user-select: none;
}

.md-code-fold:hover {
    transition-duration: 100ms;
    /*background-color: darkgoldenrod;*/
}


/*回到顶部*/

#back-to-top-btn {
    position: fixed;
    bottom: -90px;
    right: 20px;
    width: 40px;
    height: 40px;
}


/*回到顶部下的图标*/

#back-to-top-btn img {
    /*居中技巧--开始*/
    top: 50%;
    position: relative;
    display: block;
    margin: 0 auto;
    transform: translateY(-50%);
    /*居中技巧--结束*/
    /*filter: drop-shadow(1px 0px 0rem rgb(0,0,0));*/
}



